:host {
  display: block;
  font-family: arial;
  --paper-spinner-layer-1-color: var(--paper-grey-400);
  --paper-spinner-layer-2-color: var(--paper-grey-400);
  --paper-spinner-layer-3-color: var(--paper-grey-400);
  --paper-spinner-layer-4-color: var(--paper-grey-400);
}

paper-card {
  width: 400px;
  min-height: 100px;
}

.body {
  position: relative; 
}

#spinner {
  position: absolute;
  left: 50%;
  top: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  overflow: auto;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

fs-person-portrait {
  float: left;
  margin-right: 16px;
}

.vitals {
  margin-top: 8px;
}

.vitals th {
  width: 75px;
  font-weight: normal;
  vertical-align: top;
  text-align: right;
  padding-right: 16px;
  font-size: smaller;
  text-transform: uppercase;
}

.vitals th,
.vitals td {
  padding-top: 8px;
}